.row-header{
    margin:0px auto;
    padding:0px;
}

.row-content {
    margin:0px auto;
    padding: 0px 0px 0px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer {
    background-color: #EDF5E1;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

